/*Pantallas chicas*/
@media (max-width: 768px){
    #botonEncabezado{
        display: none;
    }

    #botonEncabezado.show{
        display: flex;
        flex-direction: column;
        gap: 1em;

        position: absolute;
        top: 100%;
        right: 0;

        background-color: rgba(0, 0, 0, 0.836);
        padding: 1em 1.7em;
        
        min-width: 10em;   
        border-radius: 1em; 
        z-index: 1000;
        align-items: center;
    }

    #analysis, #config{
        flex-direction: column;
    }

    #botonMenu{
        display:block;
    }

}