#resultado {
  white-space: pre;       /* Mantiene los espacios y saltos de línea como están */
  overflow-x: auto;       /* Permite scroll horizontal si el contenido excede el ancho */
}

body{
  padding-top: 4em;
}

/*NavBar*/
#navbar{
    top:100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.836);
    padding: 0em 1em;
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    height: auto;
    font-size: clamp(0.8rem, 1.2vw, 1rem);
}

h1{
    font-size: 120%;
    background: linear-gradient(to right, rgb(221, 34, 221), rgb(233, 93, 191), rgb(42, 204, 182), skyblue);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#botonEncabezado{
    display: flex;
    gap: 4em;
    align-items: center;
    text-decoration: none;
    color: white;
    user-select: none;
}

#analysis{
    display: flex;
    gap: 1.9em;
}

#analysis a{
    text-decoration: none;
    color: white;
    transition: transform 0.6s ease;
}

#analysis a:hover{
    transform: scale(1.1);
    color: rgb(143, 1, 226);
}

#analysis-container {
    position: relative;
}

#analysis-menu { /*Menu con las opciones de los analisis*/
    position: absolute;
    top: 100%;
    left: 0;

    background-color: #111;
    padding: 10px;
    border-radius: 8px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

#analysis-menu.show {
    opacity: 1;
    pointer-events: auto;
    width: 5em;
}

#analysis-container:hover #analysis-menu {
    display: flex;
}

#config{
    display: flex;
    gap: 1em;
}

#config a{
    text-decoration: none;
    color: white;
    transition: transform 0.6s ease;
}

#config a:hover{
    transform: scale(1.1);
    color: rgb(143, 1, 226);
}

#botonMenu{
    display: none;
    font-size: 2em;
    background-color: rgba(255, 255, 255, 0);
    border-color: rgba(255, 255, 255, 0);
    color: white;
    cursor: pointer;
}

