<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registrar Analisis</title>

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/analysis.css" rel="stylesheet" type="text/css">
    <link href="../static/css/responsive.css" rel="stylesheet" type="text/css">
    <script src="../static/js/init.js" defer></script>
    <script src="../static/js/analysis-create.js" defer></script>
</head>
<body>
    <div id="navBarDiv"></div>

    <h1>Páginas Web</h1>

    <table id="tablaSitios" class="tablaBase">
        <thead>
            <tr>
            <th class="sortable" data-column="sitio">Sitio Web</th>
            <th class="sortable" data-column="url">URL</th>
            <th>Estatico</th>
            <th>Dinamico</th>
            </tr>
        </thead>
        <tbody>
            <!-- Datos -->
        </tbody>
    </table>

</body>
</html>