<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMSW</title>

    <link href="../static/css/styles.css" rel="stylesheet" type="text/css">
    <script src="../static/js/script.js" defer></script>
</head>
<body>
    <h1>Ingrese URL</h1>
    <input type="text" id="url">
    <button id="botonScan">Escanear Estatico </button>
    <button id="botonScanDinamico">Escanear Dinamico</button>
    <pre id="resultado"></pre>
</body>
</html>