<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SIMSW</title>

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/responsive.css" rel="stylesheet" type="text/css">
    <script src="../static/js/init.js" defer></script>
</head>
<body>
    <div id="navBarDiv"></div>

    <main>
        <h1>Bienvenido a SIMSW</h1>


    </main>
    
</body>
</html>