<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sitios Web</title>

    <link href="../static/css/main.css" rel="stylesheet" type="text/css">
    <link href="../static/css/analysis.css" rel="stylesheet" type="text/css">
    <link href="../static/css/responsive.css" rel="stylesheet" type="text/css">
    <script src="../static/js/init.js" defer></script>
    <script  type="module" src="../static/js/site-list.js"></script>
</head>
<body>
    <div id="navBarDiv"></div>
    
    <h1>Sitios Web Registrados</h1>


    <table id="tablaSitios" class="tablaBase">
      <thead>
        <tr>
          <th class="sortable" data-column="nombre">Sitio</th>
          <th class="sortable" data-column="url">URL</th>
          <th class="sortable" data-column="cantAnalisis">Cantidad de Analisis</th>
          <th class="sortable" data-column="ultimoAnalisis">Último análisis</th>
        </tr>
      </thead>
      <tbody>
        <!--Datos-->
      </tbody>
    </table>

</body>
</html>